<div class="main">
<div id="container">
<div class="form-group" style="float: right;">
    <p-button label="Logout" icon='pi pi-fw pi-power-off' (click)="logout()"></p-button>
</div>
<div style="justify-content: center; text-align: center;">Admin Dashboard</div>
<div class="container">
    <!-- First Div -->
    <div class="item">
        <div style="justify-content: center; text-align: center; padding-bottom: 28px;">Requests</div>
       
          <p-table [value]="requestedServices" styleClass="p-datatable-striped"
          [tableStyle]="{'min-width': '30rem'}" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
              <tr>
                  <th>Name</th>
                  <th>Cost</th>
                  <th>Status</th>
                  <th>Service Provider phone</th>
                  <th>Service Provider email</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
              <tr>
                  <td id="table-align">{{ item.svcName }}</td>
                  <td id="table-align">{{ item.svcCost }}</td>
                  <td id="table-align">{{ item.requestStatus }}</td>
                  <td id="table-align">{{ item.phone }}</td>
                  <td id="table-align">{{ item.reqSvcProvider }}</td>
              </tr>
          </ng-template>
      </p-table>



    </div>
    <!-- Second Div -->
    <div class="item">
        <div style="justify-content: center; text-align: center;">Service providers</div>
        <div class="multiselect-add">
            <button class="btn btn-success rounded-circle" (click)="showServiceProviderDialog()">&plus;</button>

          </div>
        <p-table [value]="serviceProviders" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '30rem'}"
        [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>County</th>
                    <th>Email</th>
                    <th class="action-column">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                    <tr>
                        <td id="table-align">{{ item.mamafuaName }}</td>
                        <td id="table-align">{{ item.county }}</td>
                        <td id="table-align">{{ item.email }}</td>
                        <td class="action-column">
                            <div class="flex justify-content-center">
                                <p-overlayPanel #op>
                                    <div class="action-buttons">
                                        <!-- Edit button -->
                                        <p-button label="Edit" icon="pi pi-pencil"
                                            styleClass="p-button-rounded p-button-text" severity="warning" (click)="showEditServiceProviderDialog(item)"></p-button>&nbsp;
                                            <!-- Delete button -->
                                                <p-button
                                                label="Delete" icon="pi pi-trash"
                                            styleClass="p-button-rounded p-button-text" severity="danger" (click)="deleteServiceProvider(item, $event)"></p-button>
                                            
                                    </div>
                                </p-overlayPanel>
                                <!-- Ellipsis container -->
                                <div class="button-container">
                                    <button class="hover-button" (click)="op.toggle($event)">
                                        <!-- <i class="fas fa-ellipsis-v" (click)="op.toggle($event)"></i> -->
                                        <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- Third Div -->
    <div class="item">
        <div style="justify-content: center; text-align: center; padding-bottom: 28px;">Clients</div>
        
        <p-table [value]="clients" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '30rem'}" [paginator]="true"
                [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>County</th>
                    <th>Residential area</th>
                    <th>Residential plot</th>
                    <th>House number</th>
                    <th>Email</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr (click)="onClientsTableRowClick(item, rowIndex)" [ngClass]="{'selected-row': rowIndex === selectedRowIndex}" style="cursor: pointer">
                        <td id="table-align">{{ item.clntName }}</td>
                        <td id="table-align">{{ item.county }}</td>
                        <td id="table-align">{{ item.clntResidenceArea }}</td>
                        <td id="table-align">{{ item.clntResidentialPlot }}</td>
                        <td id="table-align">{{ item.clntHouseNo }}</td>
                        <td id="table-align">{{ item.email }}</td>
                    </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- Fourth Div -->
    <div class="item">
        <div style="justify-content: center; text-align: center;">Available services</div>
        <div class="multiselect-add">
            <button class="btn btn-success rounded-circle" (click)="showRegisterDialog()">&plus;</button>

          </div>
        <p-table [value]="availableServices" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '30rem'}"
        [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th class="action-column">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                    <tr>
                        <td id="table-align">{{ item.svcId }}</td>
                        <td id="table-align">{{ item.svcName }}</td>
                        <td id="table-align">{{ item.svcCost }}</td>
                        <td class="action-column">
                            <div class="flex justify-content-center">
                                <p-overlayPanel #op>
                                    <div class="action-buttons">
                                        <!-- Edit button -->
                                        <p-button label="Edit" icon="pi pi-pencil"
                                            styleClass="p-button-rounded p-button-text" severity="warning" (click)="showDialog(item)"></p-button>&nbsp;
                                            <!-- Delete button -->
                                                <p-button
                                                label="Delete" icon="pi pi-trash"
                                            styleClass="p-button-rounded p-button-text" severity="danger" (click)="deleteAvailableService(item, $event)" ></p-button>
                                            
                                    </div>
                                </p-overlayPanel>
                                <!-- Ellipsis container -->
                                <div class="button-container">
                                    <button class="hover-button" (click)="op.toggle($event)">
                                        <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
            </ng-template>
        </p-table>
    </div>
  </div>

  <!-- modals -->

 <!-- modal to add/edit service -->
<div class="card flex justify-content-center">
    <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
    <p-dialog header="Register/Edit Service" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form [formGroup]="serviceRegistrationFormForm" class="login-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="serviceName">Service Name</label>
                <input type="text" pInputText formControlName="serviceName" id="serviceName" class="form-control" />
              </div>
              <div class="form-group col-md-6">
                <label for="serviceCost">Service Cost</label>
                <input type="text" pInputText formControlName="serviceCost" id="serviceCost" class="form-control" />
              </div>
            </div>
            <div class="form-group" style="padding-top: 20px;">
              <button type="button" pButton label="Save" icon="pi pi-login" class="p-button p-button-primary"
              (click)="editMode ? editAvailableService() : registerService()"></button>
            </div>
          </form>
          
    </p-dialog>
</div>
 <!-- modal to add/edit service end-->

<!-- modal to add/edit service provider -->
<div class="card flex justify-content-center">
    <p-dialog header="Register/Edit Service Provider" [(visible)]="serviceProviderRegFormVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form [formGroup]="serviceProviderRegForm" class="login-form">
            <div class="row">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" pInputText formControlName="name" id="name" />
              </div>
              <div class="form-group">
                <label for="county">County</label>
                <input type="text" pInputText formControlName="county" id="county" />
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" id="email" />
              </div>
              <div class="form-group" *ngIf="!editMode">
                <label for="password">Password</label>
                <input type="password" pInputText formControlName="password" id="password" />
              </div>
              <div class="form-group" *ngIf="!editMode">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" pInputText formControlName="confirmPassword" id="confirmPassword" />
              </div>
            </div>
            <div class="form-group" style="padding-top: 20px;">
              <p-button label="Submit" icon="pi pi-save" (click)="editMode ? editServiceProvider() : registerServiceProvider()"></p-button>
            </div>
          </form>
          
    </p-dialog>
</div>
<!-- modal to add/edit service provider End-->
<!-- modals end -->
</div>
</div>