.main {
  background-color: ghostwhite;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
}

#container {
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.item {
  padding: 20px;
  box-sizing: border-box;
}

.rounded-circle {
  --bs-btn-color: #fff;
  --bs-btn-bg: #E4E7EB;
  --bs-btn-border-color: #D9D9D9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c0c2c3;
  --bs-btn-hover-border-color: #b8bbb9;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00529B;
  --bs-btn-active-border-color: #00529B;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  color: #00529B;
}

.multiselect-add {
  position: relative;
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4px;
}

:host ::ng-deep {
  .p-datatable .p-datatable-thead>tr>th {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 70%;
    white-space: nowrap;
  }

  .p-datatable .p-datatable-tbody>tr>td {
      white-space: nowrap;
  }

  .p-datatable-thead {
    border-radius: 4px 0px 0px 0px;
    background: #BAD0E4;
  }
}

.selected-row {
  background-color: #cce5ff !important;
  /*Changes row color on click*/
}

.action-column {
  width: 4px;
  text-align: center;
}

.hover-button {
  border: none;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.hover-button:hover {
  background-color: rgb(171, 168, 168);
}

.rounded-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.rounded-circle:hover {
  background-color: #8f9193;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    width: calc(50% - 40px);
    margin-bottom: 40px;
  }
}

.login-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-row {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="button"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
}

button[type="button"]:hover {
  background-color: #0056b3;
}
