<div style="text-align: center; justify-content: center; margin-top: 10%;">Thank you for considering our
    Cleaning Services.</div>
<div style="text-align: center; justify-content: center; margin-top: 20px;">This is where Cleanliness Meets Perfection.
</div>
<div style="text-align: center; justify-content: center; margin-top: 20px;">Sparkling Homes, Happy Lives!</div>
<p-button label="Client dashboard" (click)="navigate()"></p-button>&nbsp;
<p-button label="Mamafua dashboard" (click)="navigate1()"></p-button>