<div class="main">
    <div class="container">
        <!-- login form -->
        <div style="justify-content: center; margin: 20px; font-size: 20px;">Client Login</div>
        <form [formGroup]="clientLoginForm" class="login-form">
            <div class="row">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" id="email" />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" pInputText formControlName="password" id="password" />
              </div>
            </div>
            <div class="form-group" style="padding-top: 20px;">
              <p-button label="Login" icon="pi pi-login" (click)="login()"></p-button>
            </div>
            <div class="form-group" style="text-align: center;">
              <span>Don't have an account?</span>
              <a href="/home/client/register" class="signup-link">Sign Up</a>
            </div>
          </form>
          
          
        <!-- login form end -->
    </div>
</div>