<div class="container">
    <div class="cleaning-services" style="font-size: 20px;">
      <h2>Major Cleaning Services</h2>
      <p class="service-description">Major cleaning services in the world often include a range of offerings such as:</p>
      <ul>
        <li>
          <span class="service-title">House Cleaning Services:</span> This typically includes cleaning various areas of the home such as dusting, vacuuming, mopping floors, cleaning bathrooms, and kitchens.
        </li>
        <li>
          <span class="service-title">Commercial Cleaning Services:</span> These services cater to businesses, offices, and commercial establishments. They often involve larger-scale cleaning tasks such as janitorial services, floor cleaning, carpet cleaning, and sanitization.
        </li>
        <li>
          <span class="service-title">Laundry and Dry Cleaning Services:</span> These services focus on washing, drying, and folding clothes, as well as dry cleaning delicate items.
        </li>
        <li>
          <span class="service-title">Window Cleaning Services:</span> Window cleaning services specialize in cleaning windows, both for residential and commercial properties.
        </li>
        <li>
          <span class="service-title">Carpet and Upholstery Cleaning Services:</span> These services are focused on deep cleaning carpets, rugs, and upholstered furniture to remove stains, dirt, and allergens.
        </li>
        <li>
          <span class="service-title">Specialized Cleaning Services:</span> Some companies offer specialized cleaning services such as post-construction cleaning, move-in/move-out cleaning, and deep cleaning for specific industries like healthcare facilities.
        </li>
        <li>
          <span class="service-title">Outdoor Cleaning Services:</span> This may include services like pressure washing for driveways, sidewalks, and exterior walls, as well as gutter cleaning and roof cleaning.
        </li>
        <li>
          <span class="service-title">Industrial Cleaning Services:</span> Companies specializing in industrial cleaning cater to factories, manufacturing plants, and other industrial facilities, offering services such as equipment cleaning, degreasing, and waste management.
        </li>
      </ul>
      <p class="service-description">These are just a few examples of the major cleaning services available worldwide. The specific services offered may vary depending on the region and the needs of the customers.</p>
    </div>
    <div class="buttons">
        <p-button label="Back" icon="pi pi-arrow-left" (click)="back()"></p-button>
        <p-button class="float-right" label="Request service" icon="pi pi-arrow-right" iconPos="right" (click)="next()"></p-button>
    </div>
  </div>
  