  .container {
      display: flex;
      flex-direction: column;
  }

  .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
      .container {
          flex-direction: column;
      }

      .buttons {
          flex-direction: column;
      }

      .buttons p-button {
          margin-top: 10px;
      }

      .buttons p-button.float-right {
          align-self: flex-end;
      }
  }